<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/reload.js"></script>
    <script src="../static/js/usercontroller.js"></script>
</head>
<body>
<div >
    <ul>
        <li><button onclick="proj()">产品管理</button> </li>
        <li><button onclick="room()">库房管理</button> </li>
    </ul>

</div>

</body>
</html>