<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/usercontroller.js"></script>

</head>

    <table class="table" id="userlist">
        <thead>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>备注</th>
        </thead>
        <!--<tbody th:fragment="get-response" th:id="users">-->
        <tbody>
        <tr th:each="user : ${userlist}">
            <!--/*@thymesVar id="userid" type="thymeleaf"*/-->
            <td th:text="${user.userid}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.remark}"></td>
        </tr>
        </tbody>

    </table>

</body>
</html>