<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnmc.testpanshijun.dao.ProjectDao">
    <resultMap id="projects" type="com.jnmc.testpanshijun.entity.Project">
        <result column="pid" property="pid" jdbcType="VARCHAR"/>
        <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="pprice" property="pprice" jdbcType="VARCHAR"/>
        <result column="pgys" property="pgys" jdbcType="VARCHAR"/>
        <result column="isruku" property="isruku" jdbcType="VARCHAR"/>
        <result column="rid" property="rid" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllProject" resultMap="projects">
        select pid,pname,pprice,pgys,isruku from project
    </select>
    <select id="selectProjectbyrid" resultMap="projects" parameterType="String">
        select pid,pname,pprice,pgys,isruku from project
        where rid=#{rid}
    </select>
    <update id="updProjectbyrid" parameterType="String">
        update project set isruku=#{isruku} from project
        where rid=#{rid}
    </update>
    <insert id="addProject" parameterType="com.jnmc.testpanshijun.entity.Project">
        insert into project value (#{project.pid},#{project.pname},#{project.pprice}
            ,#{project.pgys},#{project.isruku},#{project.rid})
    </insert>
    <delete id="delProject" parameterType="String">
        delete from project where rid=#{rid}
    </delete>
    <update id="updProject" parameterType="com.jnmc.testpanshijun.entity.Project">
        update project set pname=#{project.pname},pprice=#{project.pprice}
            ,pgys=#{project.pgys} where pid=#{pid}
    </update>

</mapper>